{
    "extends": [
      "airbnb",
      "plugin:chai-expect/recommended",
      "plugin:chai-friendly/recommended"
    ],
    "parser": "babel-eslint",
    "plugins": [
      "react-hooks",
      "material-ui",
      "mocha",
      "chai-expect",
      "chai-friendly"
    ],
    "env": {
      "browser": true,
      "mocha": true
    },
    "rules": {
      "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
    }
}
