{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "plugins": [
      "react-hooks",
      "material-ui",
      "mocha"
    ],
    "env": {
      "browser": true,
      "mocha": true
    }
}
