$gray-base: #000;
$gray-darker: #272B30;
$gray-dark: #3A3F44;
$gray: #52575C;
$gray-light: #7A8288;
$gray-lighter:  #999;

$brand-primary: $gray-light;
$brand-success: #62c462;
$brand-info: #5bc0de;
$brand-warning: #f89406;
$brand-danger: #ee5f5b;

$width-calendar-break: 700px;

